{% extends 'base.html' %}
{% load static %}
{% block content %}


<body>
    <section class="section-padding">
     <div class="container">
         <div class="row">
             <div class="col-lg-12 col-12 text-center mb-4">
                 <h2>Bienvenido, {{ user.username }}</h2>
             </div>
         </div>
         <div class="row justify-content-center">

            <h3 class="row justify-content-center">Adulto Mayor</h3>
            <div class="col-4 mb-4 d-flex justify-content-between">
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/add.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Agregar</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/replace.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Modificar</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/delete-forever.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Eliminar</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/list--v1.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Listar</h5>
                    </div>
                </div>
            </div>
         </div>

         <div class="row justify-content-center">
            <h3 class="row justify-content-center">Talleres</h3>
            <div class="col-4 mb-4 d-flex justify-content-between">
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/add.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Agregar</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/replace.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Modificar</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/delete-forever.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Eliminar</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/list--v1.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Listar</h5>
                    </div>
                </div>
            </div>
         </div>

         <div class="row justify-content-center">
            <h3 class="row justify-content-center">Salas</h3>
            <div class="col-4 mb-4 d-flex justify-content-between">
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/add.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Agregar</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/replace.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Modificar</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/delete-forever.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Eliminar</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img width="64" height="64" src="https://img.icons8.com/dusk/64/list--v1.png" alt=""/>
                    <div>
                        <h5 class="mb-3">Listar</h5>
                    </div>
                </div>
            </div>
         </div>
     </div>
    </section>
</body>



{% endblock %}