{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <div  style="margin-top: 30px; margin-bottom: 30px; ">
    
      <div class="col s6" style="padding: 10px;">
        {% if messages %}
        <div class="confirmation-message">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
    

        <h4 class="centrar">LISTA DE USUARIOS</h4>
      
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <table class="table table-condensed responsive-table table-striped">
                    <thead>  
                        <tr>
                            <th>ID</th>
                            <th>RUT</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>CORREO</th>
                            <th>FECHA DE NACIMIENTO</th>
                            <th>OPCIONES</th>
                            
                           
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in listarAm %}
                        <tr>
                            <td>{{ user.id}}</td>
                            <td>{{ user.detalleusuario.run }}</td>
                            <td>{{ user.detalleusuario.nombre }}</td>
                            <td>{{ user.detalleusuario.apellido }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.detalleusuario.fecnac }}</td>
                          
                            <td>
                                <a href="{% url 'modificar_am' user.id %}" class="btn btn-success">Modificar</a>
                                <a href="{% url 'eliminar_am' user.id %}" class="btn btn-danger">Eliminar</a>
                            </td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  
</div>
</div>


{% endblock %}