<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Ingresar</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="{% static 'app/css/login.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/cssfile.css' %}" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'app/img/logo.png' %}" class="logo img-fluid center" alt="Logo Adulto Activo">
        </a>
        <h3 style="margin-bottom: 15px;">Ingresa aquí</h3>
        
    </div>
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="error-message">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {{ form.username.label_tag }} {{ form.username }}
        {{ form.password.label_tag }} {{ form.password }}

        <button  type="submit">Ingresar</button>
    </form>
</body>
</html>