{% extends 'base.html' %}
{% load static %}
{% block content %}
        <body>
           <!--aquí comienzan las cartas de talleres-->
           <div class="main-bx" id="mnbxe">
            <div class="secn-bx">
              <div>
                <img id="img-bx" src="https://images.unsplash.com/photo-1619441207978-3d326c46e2c9?w=500&auto=format" />
              </div>
        
              <span class="tags">
                <span class="tag1">Tag</span>
                <span class="tag1">Tag</span>
              </span>
        
              <div class="headr-name">Awesome</div>
        
              <p class="hdr-pr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                sodales morbi dignissim sed diam pharetra vitae ipsum odio Lorem ipsum
                dolor sit..
              </p>
        
              <div class="btncn" id="anim">
                <div class="tooltip-container" onmouseenter="showTooltip()" onmouseleave="hideTooltip()">
                  <button class="read-mr name-text" id="tooltp-shw" onmouseenter="showTooltip()" onmouseleave="hideTooltip()">
                    Read more
                  </button>
                  <span class="tooltip-text" id="tooltipe">
                    Stunning and a bit amazing isn't it how you just clicked or tried to click and hovered at first, to read more about it, isn't it. It
                    just looks amazing this image isn't it. So elegant, So Beautiful
                    Just looking like a holy cow, Oh my bad Its Looking Like a holy cow !. Again my bad, Looking like a wow !!. Don't go through the Grammar it could be should be a bit bad
                  </span>
                </div>
              </div>
            </div>
          </div>
           <!--aquí terminan las cartas de talleres-->
{% endblock %}