{% extends 'base.html' %}
{% load static %}
{% block content %}

        <body>
           <section class="section-padding" id="section_2">
            <div class="container">
                <div class="row">
                  {% if messages %}
                  <div class="confirmation-message">
                      {% for message in messages %}
                          {{ message }}
                      {% endfor %}
                  </div>
                  {% endif %}
                    <div class="col-lg-12 col-12 text-center mb-4">
                        <h2>Talleres</h2>
                    </div>
                </div>
                <div class="row">
                    {% for taller in talleres %}
                    <div class="col-4 mb-4">
                        <div class="custom-block-wrap">
                            <img src="{{ taller.imagen.url }}" class="custom-block-image img-fluid" alt="">
                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">{{ taller.nombre }}</h5>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum minus beatae doloremque aliquid pariatur.</p>
                                    <div class="d-flex align-items-center my-2">                                        
                                        <p>
                                            <strong>Días:</strong>
                                            {{ taller.dia }}
                                            <br><strong>Hora:</strong>
                                            {{ taller.hora }}
                                            <br><strong>Instructor:</strong>
                                            {{ taller.instructor }}
                                            <br><strong>Sala:</strong>
                                            {{ taller.sala }}
                                        </p>
                                    </div>
                                </div> 
                                <a href="{% url 'inscripcion' taller.id %}" class="custom-btn btn smoothscroll">
                                    Inscribirse
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </section>
        </body>
{% endblock %}